---
import { dataFooter } from "../../data";

const { social_media } = dataFooter;
---

<div id="contacto" class="pt-16 pb-32 px-4 bg-secondary w-full">
    <div
        class="max-w-7xl m-auto flex flex-col md:flex-row justify-center items-center md:items-start md:justify-between"
    >
        <!-- title bussines -->
        <div class="mb-4">
            <h2
                class="text-center md:text-start text-3xl font-bold mb-4 text-white"
            >
                GIGAMAS
            </h2>
            <p class="sm:max-w-sm lg:max-w-md text-slate-300">
                En GIGAMAS, nos dedicamos a ofrecer soluciones innovadoras y
                confiables en telecomunicaciones. Nos comprometemos a
                proporcionar conexiones rápidas y servicios adaptados que
                faciliten la comunicación efectiva tanto para individuos como
                para empresas. Descubre cómo GIGAMAS puede mejorar tu
                experiencia de conectividad hoy mismo.
            </p>
        </div>
        <!-- redes -->
        <div>
            <h2 class="text-center font-medium mb-6 text-white text-2xl">
                Redes Sociales
            </h2>
            <div class="flex gap-8 text-slate-300">
                <a
                    href={social_media.tiktok.link}
                    class="w-8 hover:scale-125 transition duration-300 ease-in-out"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img src={social_media.tiktok.img} alt="" />
                </a>
                <a
                    href={social_media.facebook.link}
                    class="w-8 hover:scale-125 transition duration-300 ease-in-out"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img src={social_media.facebook.img} alt="" />
                </a>
                <a
                    href={social_media.instagram.link}
                    class="w-8 hover:scale-105 transition duration-300 ease-in-out"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img src={social_media.instagram.img} alt="" />
                </a>
            </div>
        </div>

        <!-- contactos -->
        <div class="flex flex-col gap-4 text-slate-300">
            <h2 class="text-cprimary text-center font-bold mb-6 text-2xl">
                Contactos
            </h2>
            <div id="tooltip" class="hidden text-center font-bold text-white  ">
                <sub class="bg-white text-secondary p-2 px-6 rounded-md transition-all duration-300 ease-in-out">Copiado.</sub>
            </div>

            <p
                id="phone"
                class="bg-white text-black/70 font-bold px-6 py-3 rounded-md flex gap-2 cursor-pointer hover:scale-105 transition duration-300 ease-in-out"
            >
                <img class="" src="copy.svg" alt="" /> 983 422 178
            </p>
            <p
                id="email"
                class="bg-white text-black/70 font-bold px-6 py-3 rounded-md flex gap-2 cursor-pointer hover:scale-105 transition duration-300 ease-in-out"
            >
                <img class="" src="copy.svg" alt="" />977 876 630
            </p>
            <p
                id="phone2"
                class="relative bg-white/70 text-black/70 font-bold px-6 py-3 rounded-md flex gap-2 cursor-pointer hover:scale-105 transition duration-300 ease-in-out"
            >
               
                <img class="" src="copy.svg" alt="" />922 544 930
            </p>
        </div>

        <script>
            let email = document.getElementById("email");
            let phone = document.getElementById("phone");
            let phone2 = document.getElementById("phone2");

            let tooltip = document.getElementById("tooltip");



            email?.addEventListener("click", copiarTexto);
            phone?.addEventListener("click", copiarTexto);
            phone2?.addEventListener("click", copiarTexto);

            function copiarTexto(e: MouseEvent) {
                // Asegúrate de que el target es un elemento que tiene textContent
                const target = e.target as HTMLElement;

                if (target && target.textContent) {
                    // Obtener el texto del target
                    const texto = target.textContent;

                    // Usar la API de Portapapeles
                    navigator.clipboard.writeText(texto).then(
                        function () {
                            // Éxito
                            tooltip!.classList.remove("hidden")
                            setTimeout(()=>{
                                tooltip!.classList.add("hidden")
                            },1000)
                        },
                        function (err) {
                            console.error(
                                "Error al copiar al portapapeles: ",
                                err,
                            );
                        },
                    );
                } else {
                    console.error(
                        "El elemento objetivo no tiene contenido de texto.",
                    );
                }
            }
        </script>
    </div>
</div>
